[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
nbsphinx = "*"
sphinx-rtd-theme = "*"
pandoc = "*"

[packages]
ipython = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
plotly-express = "*"
tqdm = "*"
scipy = "*"
dimcli = {editable = true,path = "./../dimcli"}

[requires]
python_version = "3"
