div.body {
    max-width: 100%;
}


/* set page width adopting 100%*/ 
.wy-nav-content{
max-width:100% !important;
}

h1{
margin-top: 30px !important;
}

.logo{
width: 160px !important;
}

/* background logo area*/ 
.wy-side-nav-search{
	background-color: #40BBEE;
}


/* logo area remove hover bg change*/ 
.wy-side-nav-search>a:hover{
	background: rgba(255,255,255,0.0);
}

/* remove search field border */ 
.wy-side-nav-search input{
border-color: #40BBEE !important;
}

/* icon home */ 
.icon-home{
color: #40BBEE !important;
}





/* CARDS section on home */ 
div.toctree-wrapper ul{
   list-style: none;
   display: grid;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 20px;
   align-content: middle;  
}

div.toctree-wrapper ul li{
   box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
   display: block;
   min-height: 120px;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   /*justify-content: center;*/
   padding: 20px;
   margin-bottom: 20px;

   margin-left: 0px !important;
}


div.toctree-wrapper ul li a::after {
  content: "\2192";
  display: block;
}

div.toctree-wrapper p.caption span{
font-size: 22px;
}



/* NAVIGATION  */ 

/* lefthand 'cookbook top level description' */ 
#cookbooks_title {
margin-left: 20px;
margin-bottom: -20px !important;
font-size: 20px;
color:#ffffff;
letter-spacing: 0.1em;
}


/* lefthand first level */ 
div.wy-menu-vertical p.caption {
margin-top: 20px;
}

div.wy-menu-vertical p.caption span{
	font-size: 14.4px;
	font-weight: 700;
	text-transform: none;
	color: #ffffff !important;
}

/* lefthand second level */ 
div.wy-menu-vertical a{
padding-left: 32px;

  /* truncate part 
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
*/ 
}


/* lefthand 'github source' */ 
#sidebar_github {
	border-top: 1px solid #757575;
}

#sidebar_github div{
margin-left: 20px !important;
}

#sidebar_github h3{
margin-left: 20px;
margin-top: 20px;

font-family: "Lato", Arial, sans-serif;
font-size: 20px;
font-weight: 400;
color: #ffffff;
}



/* hide breadcrumbs on top */ 
[aria-label="breadcrumbs navigation"] {
display: none;
}


/* open & download button to right */ 
.document {
text-align: right;
}

.section {
text-align: left;
}

.note {
text-align: left;
}


/* open & download button area less height */ 
.wy-nav-content {
padding-top: 10px !important;
}

hr.docutils:first-of-type{
margin-top: 10px;
}


